<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SisCultural - Orçamentos</title>

    <!-- Bootstrap -->

    <link href="../css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="../css/style.css" type="text/css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>


</head>

    <body class="home-body">


        <div th:include="menu_header :: operationmodals"></div>


        <header th:include="menu_header :: header"></header>

        <div class="container">

            <div class="">
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/menu_orcamento">Área Orçamentária</a></li>
                    <li><a href="/orcamento">Orçamentos</a></li>
                    <li class="active">Selecionar Unidade</li>
                </ol>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading clearfix container-fluid">
                    <h4>Escolher Orçamento Padrão</h4>
                </div>

                <div class="panel-body">

                    <form method="post" role="form" class="form-horizontal" id="escolher-orcamento" th:action="@{/orcamento/escolher}">
                        <div class="form-group">
                            <label for="orcamento" class="control-label col-sm-2">Orçamento</label>
                            <div class="col-sm-10">
                                <select name="orcamento" class="form-control" id="orcamento">
                                    <option th:each="budget : ${budgets}" th:value="${budget.id}" th:text="${budget.name}"></option>
                                </select>
                            </div>
                        </div>
                    </form>


                </div>
                <div class="panel-footer container-fluid">

                    <span class="pull-right ">
                        <!--<button id="btnEnviar" type="submit" class="btn btn-primary" th:form="select">Avançar</button>-->

                        <button type="submit" th:form="escolher-orcamento" class="btn btn-primary" id="escolher"><span class="glyphicon glyphicon-ok"></span> Escolher</button>
                        <button class="btn btn-default" onclick="history.go(-1);">Voltar</button>
                        <!--<button class="btn btn-danger float-left" data-dismiss="modal"><span class="glyphicon glyphicon-trash"/> Cancelar</button>-->
                    </span>

                </div>

            </div>




        </div>



        <footer class="navbar navbar-default navbar-fixed-bottom text-center">
            <p class="text-muted">Desenvolvido por <a href="https://github.com/Hero-Code">Circo de Soled</a></p>
        </footer>


        <script src="../js/jquery-3.1.0.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/tableselection.js"></script>
        <script src="https://use.fontawesome.com/42680f3b68.js"></script>



    </body>

</html>
