<?xml version="1.0" encoding="UTF-8" ?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>

    <server>
        <id>bintray-ads-ifpb-praticas-maven</id>
        <username>natarajanrodrigues</username>
        <password>65440dc92ea66fc4fbce8d32df2e574f1ba5c774</password>
    </server>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-ads-ifpb-praticas-maven</id>
                    <name>bintray</name>
                    <url>http://dl.bintray.com/ads-ifpb-praticas/maven</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-ads-ifpb-praticas-maven</id>
                    <name>bintray-plugins</name>
                    <url>http://dl.bintray.com/ads-ifpb-praticas/maven</url>
                </pluginRepository>
            </pluginRepositories>
            <id>bintray</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>bintray</activeProfile>
    </activeProfiles>
</settings>
