<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-    8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SisCultural - Programas</title>

    <!-- Bootstrap -->

    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>


</head>

    <body class="home-body">

        <header th:include="menu_header :: header"></header>

        <div class="container"  style="margin-bottom: 50px">

            <div class="">
                <ol class="breadcrumb">
                    <li><a href="home">Home</a></li>
                    <li><a href="comite">Comitê</a></li>
                    <li class="active">Adicionar ou Modificar</li>
                </ol>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class='container-fluid'>

                        <form th:action="@{/comite_add}" th:object="${committe}" id="form_committe" method="post">

                            <div class="form-group col-md-12">
                                <label for="description" class="control-label">Descrição</label>

                                <input type="text" class="form-control" id="description" name="description"
                                       placeholder="Descrição" autofocus="true" th:field="*{description}"  />
                                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="help-block"></p>

                            </div>

                            <div class="form-group col-md-12">
                                <label for="date" class="control-label">Data</label>

                                <div class="row">
                                    <div class='col-md-3'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input type='text' class="form-control" name="date" id="date"/>
                                                <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </form>

                    </div>
                </div>

                <div class="panel-footer container-fluid">

                    <span class="pull-right ">

                        <button id="btnEnviar" type="submit" class="btn btn-primary" th:form="form_committe">Avançar</button>
                    </span>

                </div>

            </div>

        </div>


        <footer class="navbar navbar-default navbar-fixed-bottom text-center">
            <p class="text-muted">Desenvolvido por <a href="https://github.com/Hero-Code">Circo de Soled</a></p>
        </footer>


        <script src="js/jquery-3.1.0.min.js"></script>
        <script src="js/moment.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>

        <script src="js/bootstrap-datetimepicker.min.js"></script>
        <script src="js/locale/pt-br.js"></script>


        <script src="js/tableselection.js"></script>
        <script src="https://use.fontawesome.com/42680f3b68.js"></script>
        <script type="text/javascript">
            $(function () {

                $('#datetimepicker2').datetimepicker({
                    locale: 'pt-br',
                    format: 'L'
                });

                $('#datetimepicker3').datetimepicker({
                    locale: 'pt-br'
                });
            });
        </script>

    </body>

</html>
