<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SisCultural - Contas Rubrica</title>

    <!-- Bootstrap -->

    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="css/style.css" type="text/css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/42680f3b68.js"></script>


</head>


    <body class="home-body">

        <!-- modal de cadastro-->
        <div class="modal fade" id="cadastrar_modal">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header align-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Cadastrar Conta Rubrica</h3>
                    </div>

                    <div class="modal-body">
                        <div class='container-fluid'>
                            <form method="post" role="form" class="form-horizontal" id="cadastro-conta" th:action="@{/conta/add}">
                                <div class="form-group">
                                    <label for="orcamento" class="control-label col-sm-2">Orçamento</label>
                                    <div class="col-sm-10">
                                        <select name="orcamento" class="form-control" id="orcamento">
                                            <option th:each="budget : ${budgets}" th:value="${budget.id}" th:text="${budget.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="rubrica" class="control-label col-sm-2">Rubrica</label>
                                    <div class="col-sm-10">
                                        <select name="rubrica" class="form-control" id="rubrica">
                                            <option th:each="rubric : ${rubrics}" th:value="${rubric.id}" th:text="${rubric.name}"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" th:form="cadastro-conta" class="btn btn-success" id="cadastrar"><span class="glyphicon glyphicon-ok"></span> Cadastrar</button>
                        <button class="btn btn-danger float-left" data-dismiss="modal"><span class="glyphicon glyphicon-trash"/> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fim modal de cadastro-->

        <!-- modal de editar-->
        <div class="modal fade" id="editar_modal">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header align-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Editar Conta Rubrica</h3>
                    </div>

                    <div class="modal-body">
                        <div class='container-fluid'>
                            <form method="post" role="form" class="form-horizontal" id="editar-conta" th:action="@{/conta/edit}">
                                <input type="text" class="hidden" id="id-edit" name="id" />
                                <div class="form-group">
                                    <label for="orcamento" class="control-label col-sm-2">Orçamento</label>
                                    <div class="col-sm-10">
                                        <select name="orcamento" class="form-control" id="orcamento-edit">
                                            <option th:each="budget : ${budgets}" th:value="${budget.id}" th:text="${budget.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="rubrica" class="control-label col-sm-2">Rubrica</label>
                                    <div class="col-sm-10">
                                        <select name="rubrica" class="form-control" id="rubrica-edit">
                                            <option th:each="rubric : ${rubrics}" th:value="${rubric.id}" th:text="${rubric.name}"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" th:form="editar-conta" class="btn btn-success" id="cadastrar"><span class="glyphicon glyphicon-ok"></span> Cadastrar</button>
                        <button class="btn btn-danger float-left" data-dismiss="modal"><span class="glyphicon glyphicon-trash"/> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fim modal de editar-->

        <!--modal delete -->
        <div class="modal fade" id="deletar_modal">
            <div class="modal-dialog modal-lm">
                <div class="modal-content">
                    <form id="delete_modal" method="post">
                        <div class="modal-header align-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Confirmar Exclusão</h3>
                        </div>

                        <div class="modal-body align-center">
                            <div class="row">
                                <div class="col-sm-12 align-center">
                                    <h4>Tem certeza que deseja excluir a rubrica "<span name="descricao" id="nome_delet"></span>" do sistema ?</h4>
                                    <p>Esta operação é irreversível.</p>
                                    <input type="text" class="hidden" id="id_delet" name="id" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" for="deletar" id="confirmar_exclusao" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
                            <button class="btn btn-danger float-left" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--fim modal delete -->


        <!--modais para confirmação de tarefa-->
        <div th:include="menu_header :: operationmodals"></div>

        <header th:include="menu_header :: header"></header>

        <div class="container">

            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-info glyphicon glyphicon-plus" data-toggle="modal" data-target="#cadastrar_modal" ></button>
                    <button id="btn-editar" class="btn btn-warning glyphicon glyphicon-pencil disabled" th:disabled="true"></button>
                    <button id="btn-deletar" class="btn btn-danger glyphicon glyphicon-trash disabled" th:disabled="true"></button>

                    <form class="form-inline float-right col-xs-8 no-margin-right">
                        <div class="form-group col-xs-12 no-margin-right">
                            <div class="input-group col-xs-12 float-right">
                                <input type="text" id="filter" class="form-control" placeholder="..."/>
                                <span class="btn input-group-addon glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </form>

                </div>

                <table class="table table-bordered table-hover table-selectable">
                    <thead>
                        <tr class="alert-info text-align-center">
                            <th >Id</th>
                            <th >Orçamento</th>
                            <th >Rubrica</th>
                        </tr>
                    </thead>

                    <tbody class="searchable" id="materiaisTable">

                        <tr th:each="conta : ${rubricAccounts}" >
                            <td th:text="${conta.id}"></td>
                            <td th:text="${conta.budget.name}"></td>
                            <td th:text="${conta.rubric.name}"></td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <footer class="navbar navbar-default navbar-fixed-bottom text-center">
            <p class="text-muted">Desenvolvido por <a href="https://github.com/Hero-Code">Circo de Soled</a></p>
        </footer>

        <script src="js/tableselection.js"></script>
        <script type="text/javascript">

            function show_success() {
                $('#sucessModal').modal({
                    show: 'true'
                });
            }

            function show_error(textError) {
                $('p#error-body').html(textError);
                $('#errorModal').modal({
                    show: 'true'
                });
            }

            $('#btn-editar').click(function (e) {

                var id_edita = $('.table-selectable > tbody > tr.active').find('td:first-child').text();
                var orcamento_edita = $('.table-selectable > tbody > tr.active').find('td:nth-child(2)').text();
                var rubrica_edita = $('.table-selectable > tbody > tr.active').find('td:nth-child(3)').text();

                //set select orcamento
                $('#orcamento-edit option').attr('selected', false);

                $('#orcamento-edit option').filter(function() {
                    return this.text == orcamento_edita;
                }).attr('selected', true);

                //set select rubrica
                $("#rubrica-edit > option").attr('selected', false);
                $("#rubrica-edit option").filter(function() {
                    return this.text == rubrica_edita;
                }).attr('selected', true);

                //set id and dateTime
                $("#id-edit").val(id_edita);

//                alert(id_edita);
                $('#editar_modal').modal({
                    show: 'true'
                });

            });

            $('#btn-deletar').click(function (e) {
                var descricao = $('.table-selectable > tbody > tr.active').find('td:nth-child(2)').text();
                var id = $('.table-selectable > tbody > tr.active').find('td:first-child').text();

                $("#id_delet").val(id);
                $("#nome_delet").html(descricao);

                $('#deletar_modal').modal({
                    show: 'true'
                });
            });

            $('#confirmar_exclusao').click(function (e) {
                e.preventDefault();
                $.post('/conta/delete', $('#delete_modal').serialize(), function (response) {
                    var erro = response.erro;
                    $('#deletar_modal').modal('hide');

                    if (erro !== undefined) {
                        show_error(erro);
                    } else {

                        show_success(response.resultado);

                        $("#confirmOkButton").click(function () {
                            location.reload();
                        });

                    }
                });
            });

        </script>


    </body>

</html>
