<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      >
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SisCultural - fornecedores</title>

        <!-- Bootstrap -->

        <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>

        <link rel="stylesheet" href="css/style.css" type="text/css"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>


    </head>

    <body class="home-body">

        <div class="modal fade" id="cadastrar_modal">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header align-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Cadastrar Orçamento</h3>
                    </div>

                    <div class="modal-body">
                        <div class='container-fluid'>
                            <!--<form method="post" role="form" class="form-horizontal" id="cadastro-orcamento" th:action="@{/orcamento/add}">-->
                            <form method="post" role="form" class="form-horizontal" id="cadastro-orcamento">
                                <div class="form-group">
                                    <p>
                                        <br/>
                                        <a href="/fornecedores/fornecedor_fisico">Adicionar: Pessoa Física</a>
                                        <br/>
                                        <br/>
                                        <a href="/fornecedores/fornecedor_juridico">Adicionar: Pessoa Jurídica</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="submit" th:form="cadastro-orcamento" class="btn btn-success" id="cadastrar"><span class="glyphicon glyphicon-ok"></span> Cadastrar</button>-->
                        <!--<button type="submit" class="btn btn-success" id="cadastrar"><span class="glyphicon glyphicon-ok"></span> Cadastrar</button>-->
                        <button class="btn btn-danger float-left" data-dismiss="modal"><span class="glyphicon glyphicon-trash"/> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="upload">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header align-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Carregar Arquivo</h3>
                    </div>

                    <div class="modal-body">
                        <div class='container-fluid'>
                            <!--<form method="post" role="form" class="form-horizontal" id="cadastro-orcamento" th:action="@{/orcamento/add}">-->
                            <form method="post" role="form" class="form-horizontal" id="form_upload" th:action="@{/upload_xls}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input id="file" name="file" type="file" class="file"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" th:form="form_upload" class="btn btn-success" id="upload"><span class="glyphicon glyphicon-ok"></span> Cadastrar</button>
                        <!--<button type="submit" class="btn btn-success" id="cadastrar"><span class="glyphicon glyphicon-ok"></span> Cadastrar</button>-->
                        <button class="btn btn-danger float-left" data-dismiss="modal"><span class="glyphicon glyphicon-trash"/> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editar_modal">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header align-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Editar Orçamento</h3>
                    </div>

                    <div class="modal-body">
                        <div class='container-fluid'>
                            <form method="post" role="form" class="form-horizontal" id="editar-orcamento">
                                <div class="form-group">
                                    <label for="descricao" class="control-label col-sm-2">Nome</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="edit-name" name="name" placeholder="Digite o nome do orçamento." maxlength="50" autofocus="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="descricao" class="control-label col-sm-2">Descrição</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="edit-descricao" name="descricao" placeholder="Digite a descrição do orçamento." />
                                        <input type="text" class="hidden" id="edit-id" name="id" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="confirmar_editar"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
                        <button class="btn btn-danger float-left" data-dismiss="modal"><span class="glyphicon glyphicon-trash"/> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deletar_modal">
            <div class="modal-dialog modal-lm">
                <div class="modal-content">
                    <form id="delete_modal" method="post">
                        <div class="modal-header align-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Confirmar Exclusão</h3>
                        </div>

                        <div class="modal-body align-center">
                            <div class="row">
                                <div class="col-sm-12 align-center">
                                    <h4>Tem certeza que deseja excluir " <span name="descricao" id="nome_delet"></span> " do sistema ?</h4>
                                    <p>Esta operação é irreversível.</p>
                                    <input type="text" class="hidden" id="id_delet" name="id" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" for="deletar" id="confirmar_exclusao" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
                            <button class="btn btn-danger float-left" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div th:include="menu_header :: operationmodals"></div>


        <header th:include="menu_header :: header"></header>

        <div class="container">

            <div class="">
                <ol class="breadcrumb">
                    <li><a href="home">Home</a></li>
                    <li class="active">Fornecedores</li>
                </ol>
            </div>

            <!--<div class="alert alert-danger" role="alert"  th:text="${erro}">-->
                <!--erro-->
            <!--</div>-->

            <div th:if="${erro}" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Erro!</strong> <span th:text="${erro}"/>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-inline float-right col-xs-6 no-margin-right col-md-8">
                        <div class="form-group col-xs-12 no-margin-right">
                            <div class="input-group col-xs-12 float-right">
                                <input type="text" id="filter" class="form-control" placeholder="..."/>
                                <span class="btn input-group-addon glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </form>

                    <div class="col-md-4 col-xs-6">
                        <button class="btn btn-info glyphicon glyphicon-plus" data-toggle="modal" data-target="#cadastrar_modal" ></button>
                        <button id="btn-editar" class="btn btn-warning glyphicon glyphicon-pencil disabled" ></button>
                        <button id="btn-deletar" class="btn btn-danger glyphicon glyphicon-trash disabled" ></button>
                        <button class="btn glyphicon glyphicon-upload " data-toggle="modal" data-target="#upload" ></button>
                    </div>
                </div>

                <table class="table table-bordered table-hover table-selectable">
                    <thead>
                        <tr class="alert-info text-align-center">
                            <th >CPF/CNPJ</th>
                            <th >Nome</th>
                            <th class="text-center" >Acumulado (R$)</th>
                        </tr>
                    </thead>

                    <tbody class="searchable" id="materiaisTable">

                        <!--<tr th:each="cp : ${cps}" >-->
                            <!--<td th:text="${cp.cnpj}"></td>-->
                            <!--<td th:text="${cp.name} + '  /  Nome Fantasia: ' + ${cp.tradingName}"></td>-->
                            <!--<td class="hidden" th:text="${cp.id}"></td>-->
                            <!--&lt;!&ndash;<th th:if="${cp instanceof  T(io.github.siscultural.entities.CompanyProvider)}" th:text="${T(io.github.siscultural.utils.SystemPaymentSum).totalFornecedor(cp.cnpj)}" />&ndash;&gt;-->
                            <!--<td class="text-center"  th:if="${cp instanceof  T(io.github.siscultural.entities.CompanyProvider)}" th:text="${#numbers.formatDecimal( T(io.github.siscultural.utils.SystemPaymentSum).totalFornecedor(cp.cnpj) , 1, 'POINT', 2, 'COMMA')}" />-->
                        <!--</tr>-->
                        <!--<tr th:each="ip : ${ips}" >-->
                            <!--<td th:text="${ip.cpf}"></td>-->
                            <!--<td th:text="${ip.name}"></td>-->
                            <!--<td class="hidden" th:text="${ip.id}"></td>-->
                            <!--&lt;!&ndash;th:text="' (R$ ' + ${#numbers.formatDecimal(T(io.github.siscultural.utils.ContractUtils).total(element.value), 0, 'POINT', 2, 'COMMA')} + ' )'"&ndash;&gt;-->
                            <!--&lt;!&ndash;<td th:text="${#numbers.formatDecimal(T(io.github.siscultural.utils.SystemPaymentSum).totalFornecedor(ip.cpf), 0, 'POINT', 2, 'COMMA')}" />&ndash;&gt;-->
                            <!--&lt;!&ndash;<td class="text-center" th:if="${ip instanceof  T(io.github.siscultural.entities.IndividualProvider)}" th:text="${T(io.github.siscultural.utils.SystemPaymentSum).totalFornecedor(ip.cpf)}" />&ndash;&gt;-->
                            <!--<td class="text-center" th:if="${ip instanceof  T(io.github.siscultural.entities.IndividualProvider)}" th:text="${#numbers.formatDecimal( T(io.github.siscultural.utils.SystemPaymentSum).totalFornecedor(ip.cpf) , 1, 'POINT', 2, 'COMMA')}"  />-->

                        <!--</tr>-->

                        <tr th:each="provider : ${providers}" >
                            <td th:text="${T(io.github.siscultural.utils.NumberRegisterUtils).formatCode(provider.code)}" ></td>
                            <td >
                                <span th:text="${provider.name}"></span>
                                <!--<span th:if="${provider.code.length() > 11 and provider.tradingName != null}" th:text="'  /  Nome Fantasia: ' + ${provider.tradingName}"></span>-->
                            </td>
                            <td class="hidden" th:text="${provider.id}"></td>
                            <!--<th th:if="${cp instanceof  T(io.github.siscultural.entities.CompanyProvider)}" th:text="${T(io.github.siscultural.utils.SystemPaymentSum).totalFornecedor(cp.cnpj)}" />-->
                            <td class="text-center" th:text="${#numbers.formatDecimal( T(io.github.siscultural.utils.SystemPaymentSum).totalFornecedor(provider.code) , 1, 'POINT', 2, 'COMMA')}" />
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <footer class="navbar navbar-default navbar-fixed-bottom text-center">
            <p class="text-muted">Desenvolvido por <a href="https://github.com/Hero-Code">Circo de Soled</a></p>
        </footer>


        <script src="js/jquery-3.1.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/tableselection.js"></script>
        <script src="https://use.fontawesome.com/42680f3b68.js"></script>

        <script type="text/javascript">
            function show_success() {
                $('#sucessModal').modal({
                    show: 'true'
                });
            }

            function show_error(textError) {
                $('p#error-body').html(textError);
                $('#errorModal').modal({
                    show: 'true'
                });
            }

            $('#cadastrar').click(function (e) {
                e.preventDefault();
                $.post('orcamento/add', $('#cadastro-orcamento').serialize(), function (response) {
                    var erro = response.erro;
                    $('#cadastrar_modal').modal('hide');

                    if (erro !== undefined) {
                        show_error(erro);
                    } else {
                        show_success(response.resultado);

                        $("#confirmOkButton").click(function () {
                            $(location).attr('href', 'orcamento');
                        });

                    }
                });

            });

            $('#confirmOkButton').click(function (e) {
                $(location).attr('href', 'orcamento');
            });


            $('#btn-editar').click(function (e) {

                var id = $('.table-selectable > tbody > tr.active').find('td:nth-child(3)').text();

                window.location = "fornecedores/edit?id="+id;

            });

            $('#confirmar_editar').click(function (e) {
                e.preventDefault();
                $.post('orcamento/edit', $('#editar-orcamento').serialize(), function (response) {
                    var erro = response.erro;

                    $('#editar_modal').modal('hide');


                    if (erro !== undefined) {

                        show_error(erro);
                    } else {

                        show_success(response.resultado);
                        $("#confirmOkButton").click(function () {
                            $(location).attr('href', 'orcamento');
                        });

                    }
                });

            });

            $('#btn-deletar').click(function (e) {
                var nome = $('.table-selectable > tbody > tr.active').find('td:first-child').text();
                var id = $('.table-selectable > tbody > tr.active').find('td:nth-child(3)').text();

                $("#id_delet").val(id);
                $("#nome_delet").html(nome);

                $('#deletar_modal').modal({
                    show: 'true'
                });
            });

            $('#confirmar_exclusao').click(function (e) {
                e.preventDefault();
                $.post('/provider_delete', $('#delete_modal').serialize(), function (response) {
                    var erro = response.erro;
                    $('#deletar_modal').modal('hide');

                    if (erro !== undefined) {
                        show_error(erro);
                    } else {
                        show_success(response.resultado);
                        $("#confirmOkButton").click(function () {
                            $(location).attr('href', 'fornecedores');
                        });

                    }
                });
            });

        </script>

    </body>

</html>
