<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SisCultural - Login</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>

    </head>

    <body>
        <!--<%@ include file="modals/error-modal.jsp" %>-->

        <div class="modal fade" id="errorModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header align-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-danger">Operação Interrompida</h4>
                    </div>
                    <div class="modal-body align-center">
                        <p id="error-body" style="color:black;"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" >Ok!</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="container container-login">
            <div class="row row-login">
                <div class="logo-box">
                    <img class="logo img-rounded" src="img/ccbnb.png"></img>
                </div>
                <div class="logo-box">
                    <h1>SisCultural</h1>
                </div>

                <div class="input-group">
                    <form id="form-login" class="form" action="login" method="post">
                        <input type="text" name="email" id="login" class="form-control" placeholder="Usuario ou Email"/>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Senha"/>

                        <div class="form-options">
                            <div class="forgetkey-box">
                                <div class="remember-box">
                                    <label class="checkbox-inline"><input type="checkbox" value="">Lembrar Dados</input></label>
                                </div>
                                <a href="home.jsp">Esqueceu a senha?</a>
                            </div>

                            <div class="submit-box">
                                <input id="input-login" type="submit" class="btn btn-primary submit" value="Login"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <script src="js/jquery-3.1.0.min.js"></script>
                    <script src="js/bootstrap.min.js"></script>
                </div>
            </div>
        </div>

    </body>

    <script src="js/ajax-request-manager.js" type="text/javascript"></script>

    <script>

        executeAjax('#input-login', 'login', '#form-login');
    </script>

</html>
