<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SisCultural - Login</title>

        <!-- Bootstrap -->

        <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <!--<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css"/>-->
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        <script src="https://use.fontawesome.com/42680f3b68.js"></script>

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="login-container">
                    <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                        <div class="logo-box text-center">
                            <img src="../img/ccbnb.png" alt="Centro Cultural Banco do Nordeste"></img>
                        </div>
                        <div class="div-form-login text-center">
                            <h1>SisCultural</h1>
                            <form id="form-login" th:action="@{/login}" method="post">
                                <div class="col-md-offset-1 col-md-10 col-md-offset-1 login-input-group">
                                    <input type="text" name="username" id="login" class="form-control" placeholder="E-mail"/>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Senha"/>
                                </div>

                                <div class="login-button-group">
                                    <div class="col-md-5 col-md-offset-1">
                                        <a href="#">Esqueceu sua senha?</a>
                                    </div>
                                    <div class="col-md-5">
                                        <input id="input-login" type="submit" class="btn btn-primary" value="Login"/>
                                    </div>
                                </div>
                            </form>
<!--                            <form th:action="@{/login}" method="post">
                                <div><label> User Name : <input type="text" name="username"/> </label></div>
                                <div><label> Password: <input type="password" name="password"/> </label></div>
                                <div><input type="submit" value="Sign In"/></div>
                            </form>-->
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                        <div th:if="${error ne null}" class="alert alert-danger" role="alert" th:text="${error}"/>
                    </div>
                </div>

            </div>
        </div>
    </body>

</html>
