<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SisCultural - Home</title>

        <!-- Bootstrap -->

        <link href="../css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="../css/style.css" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet"/>

    </head>

    <body class="home-body">

    <header th:include="menu_header :: header">
    </header>


    <div class="container">
        <div class="row">
            <section class="col-md-offset-3 col-md-6 col-md-offset-3 main-menu-container">
                <article class="col-md-12 container-area">
                    <h2>Administração</h2>
                    <br/>
                    <a class="col-md-4 col-sm-2 users-container text-center" href="/usuarios" title="Usuários">
                        <div class="users-icon-container">
                            <i class="material-icons">&#xE7EF;</i>
                        </div>
                        <div class="users-icon-text">
                            <span>Usuários</span>
                        </div>
                    </a>
                    <a class="col-md-4 col-sm-2 users-container text-center" th:href="@{/menu_orcamento}" title="Orçamentos">
                        <div class="users-icon-container">
                            <i class="material-icons">&#xE227;</i>
                        </div>
                        <div class="users-icon-text">
                            <span>Área Orçamentária</span>
                        </div>
                    </a>
                    <a class="col-md-4 col-sm-2 users-container text-center" th:href="@{/comite}" title="Orçamentos">
                        <div class="users-icon-container">
                            <i class="material-icons">&#xE876;</i>
                        </div>
                        <div class="users-icon-text">
                            <span>Comitê</span>
                        </div>
                    </a>
                </article>
                <article class="col-md-12 container-area">
                    <h2>Atividades Culturais</h2>
                    <br/>
                    <a class="col-md-3 activities-container text-center" href="/menu_atividades" title="Atividades">
                        <div class="activities-icon-container">
                            <i class="material-icons">&#xE405;</i>
                        </div>
                        <div class="activities-icon-text">
                            <span>Atividades</span>
                        </div>
                    </a>
                    <a class="col-md-3 payments-container text-center" href="/publico" title="Pagamentos">
                        <div class="payments-icon-container">
                            <!--<i class="material-icons">swap_horiz</i>-->
                            <i class="material-icons">face</i>
                        </div>
                        <div class="payments-icon-text">
                            <span>Público</span>
                        </div>
                    </a>
                    <a class="col-md-3 reports-container text-center" href="/reports" title="Relatórios">
                        <div class="reports-icon-container">
                            <i class="material-icons">&#xE8E5;</i>
                        </div>
                        <div class="reports-icon-text">
                            <span>Relatórios</span>
                        </div>
                    </a>
                    <a class="col-md-3 reports-container text-center" href="/agenda" title="Agenda">
                        <div class="reports-icon-container">
                            <i class="material-icons">&#xE54B;</i>
                        </div>
                        <div class="reports-icon-text">
                            <span>Agenda</span>
                        </div>
                    </a>
                </article>
                <article class="col-md-12 container-area">
                    <h2>Área Pagamentos</h2>
                    <br/>
                    <a class="col-md-3 provider-container text-center" href="/fornecedores" title="Fornecedores">
                        <div class="users-icon-container">
                            <i class="material-icons">&#xE558;</i>
                        </div>
                        <div class="provider-icon-text">
                            <span>Fornecedores</span>
                        </div>
                    </a>
                    <a class="col-md-3 payments-container text-center" href="#" title="Pagamentos">
                        <div class="payments-icon-container">
                            <i class="material-icons">&#xE85D;</i>
                        </div>
                        <div class="payments-icon-text">
                            <span>Pagamentos</span>
                        </div>
                    </a>
                </article>
            </section>
        </div>
    </div>
    <footer class="navbar navbar-default navbar-fixed-bottom text-center">
        <p class="text-muted">Desenvolvido por <a href="https://github.com/Hero-Code">Circo de Soled</a></p>
    </footer>
    </body>

</html>
