<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SisCultural - Home</title>

        <!-- Bootstrap -->

        <link href="../css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="../css/style.css" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet"/>

    </head>

    <body class="home-body">

        <!-- Static navbar -->
        <header th:fragment="header">
            <!--<div class="container">-->
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                    aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#">Project name</a>-->
                            <!--<a class="navbar-brand" th:href="@{/home}"><img src="../img/ccbnb.png" alt="Centro Cultural Banco do Nordeste"/> SisCultural</a>-->
                            <a class="navbar-brand" th:href="@{/home}">
                                <span><img src="../img/ccbnb3.png"  alt="Centro Cultural Banco do Nordeste"/></span> Siscultural
                            </a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">

                            <!--<ul class="nav navbar-nav">-->
                                <!--<li class="active"><a href="#">Home</a></li>-->
                                <!--<li><a href="#">About</a></li>-->
                                <!--<li><a href="#">Contact</a></li>-->
                                <!--<li class="dropdown">-->
                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                                       <!--aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                                    <!--<ul class="dropdown-menu">-->
                                        <!--<li><a href="#">Action</a></li>-->
                                        <!--<li><a href="#">Another action</a></li>-->
                                        <!--<li><a href="#">Something else here</a></li>-->
                                        <!--<li role="separator" class="divider"></li>-->
                                        <!--<li class="dropdown-header">Nav header</li>-->
                                        <!--<li><a href="#">Separated link</a></li>-->
                                        <!--<li><a href="#">One more separated link</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <ul class="nav navbar-nav navbar-right">
                                <!--<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>-->
                                <!--<li><a href="../navbar-static-top/">Static top</a></li>-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text ="${#authentication.getPrincipal().name}"></span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <!--<li><a href="#">Action</a></li>-->
                                        <!--<li><a href="#">Another action</a></li>-->
                                        <!--<li><a href="#">Something else here</a></li>-->
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li class="dropdown-header" th:text="'Logado como ' + ${#authentication.getPrincipal().userType}"></li>
                                        <li><a th:href="@{/logout}" title="Sair">Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>
            <!--</div>-->

        </header>


        <!--header antigo-->
        <!--<header th:fragment="header">-->
            <div class="container container-full">
                <div class="row">
                    <section class="header-section">
                        <article class="col-md-12 header-container">

                            <div class="col-md-3 pull-left container-header-siscultural-info">
                                <div class="header-logo-container pull-left">
                                    <a th:href="@{/home}"><img src="../img/ccbnb.png" alt="Centro Cultural Banco do Nordeste"/></a>
                                </div>
                                <div class="header-siscultural-info">
                                    <h4>SisCultural</h4>
                                    <p>Autenticado como <span th:text ="${#authentication.getPrincipal().userType}"></span></p>
                                </div>
                            </div>

                            <div class="col-md-6 pull-right container-header-user-info">
                                <div class="header-user-info text-right">
                                    <form id="logout-form" th:action="@{/logout}" method="post">
                                        <h4 th:text ="${#authentication.getPrincipal().name}"></h4>
                                        <a href="javascript:{}" title="Sair" onclick="document.getElementById('logout-form').submit()">Sair</a>
                                    </form>
                                </div>
                            </div>

                        </article>
                    </section>
                </div>
            </div>
        <!--</header>-->


        <div th:fagment="error">
            <div class="modal fade" id="errorModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header align-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-danger">Operação Interrompida</h4>
                        </div>
                        <div class="modal-body align-center">
                            <p id="error-body" style="color:black;"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" >Ok!</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div th:fragment="operationmodals">
            <div class="modal fade" id="sucessModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header align-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-success">Operação concluída</h4>
                        </div>
                        <div class="modal-body align-center">
                            <p id="msg">Operação concluída com sucesso!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" id="confirmOkButton" autofocus="true">Ok!</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="errorModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header align-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-danger">Operação Interrompida</h4>
                        </div>
                        <div class="modal-body align-center">
                            <p id="error-body" style="color:black;"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" >Ok!</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <footer class="navbar navbar-default navbar-fixed-bottom text-center">
            <p class="text-muted">Desenvolvido por <a href="https://github.com/Hero-Code">Circo de Soled</a></p>
        </footer>
    </body>

</html>
