<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>SisCultural - Home</title>

        <!-- Bootstrap -->

        <link href="../css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="../css/style.css" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet"/>

    </head>

    <body class="home-body">

        <header th:fragment="header">
        <div class="container container-full">
          <div class="row">
            <section class="header-section">
              <article class="col-md-12 header-container">

                <div class="col-md-3 pull-left container-header-siscultural-info">
                  <div class="header-logo-container pull-left">
                    <img src="../img/ccbnb.png" alt="Centro Cultural Banco do Nordeste"/>
                  </div>
                  <div class="header-siscultural-info">
                    <h4>SisCultural</h4>
                    <p>Autenticado como: <span th:text="${session.functionary.userType}"></span></p>
                  </div>
                </div>

                <div class="col-md-6 pull-right container-header-user-info">
                  <div class="header-user-info text-right">
                    <h4 th:text="${session.functionary.name}"></h4>
                    <a href="/logout" title="Sair">Sair</a>
                  </div>
                </div>

              </article>
            </section>
          </div>
        </div>
      </header>


      <footer class="navbar navbar-default navbar-fixed-bottom text-center">
        <p class="text-muted">Desenvolvido por <a href="https://github.com/Hero-Code">Circo de Soled</a></p>
      </footer>
    </body>

</html>
